# --- JARVIS CORE CPU ---
aiohttp==3.9.1
python-dotenv==1.0.1
numpy==1.26.4
onnxruntime==1.17.0
faster-whisper==0.10.0
pvporcupine==3.0.0
pvrecorder==1.2.1
sounddevice==0.4.6
soundfile==0.12.1
pydub==0.25.1
edge-tts==6.1.9
pypdf==4.0.1
PyQt6==6.6.1
pyautogui==0.9.54
pygetwindow==0.0.9
pycaw==2.0.1
comtypes==1.2.0
pynvml==11.5.0

# Standard CPU IA Stack
torch==2.2.1
torchvision==0.17.1
torchaudio==2.2.1
